#add-button {
    position: absolute;
    left: 90%;
    width: 100px;

    button {
        margin-top: 10px;
        width: 100%;
    }
}

#tasks-board {
    display: flex;
    justify-content: space-around;
    padding: 3.3rem 1rem 0rem 1rem;
}

.tasks-card {
    border: 2px solid black;
    width: 24%;
    height: 73vh;

    h2 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        background-color: black;
        color: white;
        padding: 5px;
    }
}

.tasks-list {
    overflow-y: auto;
    width: 100%;
    height: 92%;
}